<ul id="tab">
    <li>
        <a ui-sref="preference">
            <i class="fa fa-home"></i>My Preferences
        </a>
    </li>
    <li>
        <a ui-sref="order">
            <i class="fa fa-shield"></i>My Orders
        </a>
    </li>
    <li>
        <a ui-sref="request">
            <i class="fa fa-comment"></i>My InfoRequests
        </a>
    </li>
    <li>
        <a ui-sref="favorite">
            <i class="fa fa-comment"></i>My Favorites
        </a>
    </li>
</ul>
<div ui-view>

</div>