body {
    margin: 0 auto;
    width: 1024px;
    font-family: Calibri;
}

h1, ul, li {
    padding: 0;
    margin: 0;
}

#wrapper ul#tab {
    clear: both;
    display: inline-block;
}

    #wrapper ul#tab > li {
        float: left;
    }

    #wrapper ul#tab li {
        list-style-type: none;
    }

        #wrapper ul#tab li a {
            text-decoration: none;
        }
